.cards {
    display: flex;
    flex-direction: row;
    padding-inline: 2rem;
    padding-block: 1rem;
    gap: 1rem ;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc((100% - 3rem) / 4);
    justify-content: space-around;
    background-color: white;
    padding: .5rem;
    border-radius: 12px;
    height: 6rem;
  }
  
  .card img {
    width: 14px;
    height: 14px;
  }
  
  .card-row-one {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: flex-start;
    gap: .2rem;
    padding-inline: .5rem;
    color: rgb(108, 108, 108);
  }
  
  .card-row-one p, .card-row-two p {
    margin-block: 0;
  }
  
  .card-row-two {
    display: flex;
    flex-direction: row;
    padding-inline: .5rem;
    align-items: center;
    justify-content: flex-end;
    gap: .2rem;
  }
  
  .count {
    font-size: 22px;
    font-weight: 600;
    margin-right: auto;
  }
  
  .percent {
    font-size: 12px;
    font-weight: 600;
    color: rgb(35, 183, 35);
  }
  
  .date {
    font-size: 10px;
    color: rgb(159, 159, 159);
  }
  
  
  