.orders-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background-color: white;
  border-left: 2px solid rgb(226, 226, 226);
  align-items: center;
  /* gap: 2rem; */
}

.receipt-of-goods,
.orders-summary {
  flex: 8 1;
  background-color: rgb(255, 238, 252);
  width: 100%;
}

.bar {
  display: flex;
  flex-direction: row;
}

.line-one {
  height: 0.5rem;
  background-color: rgb(219, 176, 176);
  border-radius: 12px;
}

.line-two {
  height: 0.5rem;
  background-color: rgb(176, 219, 178);
  border-radius: 12px;
}

.line-three {
  height: 0.5rem;
  background-color: rgb(176, 186, 219);
  border-radius: 12px;
}

.orders-status {
  flex: 7 1;
  background-color: rgb(238, 255, 245);
  width: 100%;
}

.bar-data {
    display: flex;
    flex-direction: column;
}

.paid-data, .cancelled-data, .refunded-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 1rem;
}

.paid-data p, .cancelled-data p, .refunded-data p{
    margin: 0;
}