.orders-content {
  background-color: #f7f9fb;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.orders-main {
  flex: 3 1;
  background-color: #fff;
  overflow-y: scroll;
}

.orders-overview {
  background-color: var(--background);
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid #e2e2e2;
  flex-shrink: 0;
}

.orders-overview p {
  margin: 0;
  padding-left: 2rem;
  font-size: 18px;
  font-weight: 600;
}
