.orders-content {
  background-color: #f7f9fb;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.orders-main {
  flex: 3 1;
  background-color: white;
  overflow-y: scroll;
}

.orders-overview {
  background-color: var(--background);
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid rgb(226, 226, 226);
}

.orders-overview p {
  margin: 0;
  padding-left: 2rem;
  font-size: 18px;
  font-weight: 600;
}

.orders-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background-color: white;
  border-left: 2px solid rgb(226, 226, 226);
  align-items: center;
  /* gap: 2rem; */
}

