
.orders-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background-color: white;
  border-left: 2px solid rgb(226, 226, 226);
  align-items: center;
  /* gap: 2rem; */
}

.receipt-of-goods {
  flex:1 1;
  background-color: rgb(255, 238, 252);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.orders-summary {
  flex:1 1;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
}

.bar {
  display: flex;
  flex-direction: row;
  padding-inline: 1rem;
  padding-block: 1rem;
}

.bar-data {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", serif;
  color: rgb(30, 30, 30);
  gap: 1rem;
}

.line-one {
  height: 0.5rem;
  background-color: #3CB371;
  border-radius: 12px;
}

.line-two {
  height: 0.5rem;
  background-color: #DC143C;
  border-radius: 12px;
}

.line-three {
  height: 0.5rem;
  background-color: #000000;
  border-radius: 12px;
}

.orders-status {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: column;
  border-block: 2px solid rgb(226, 226, 226);
  justify-content: space-between;
  padding-block: 1rem;
}

.paid-data, .cancelled-data, .refunded-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paid-data p, .cancelled-data p, .refunded-data p{
    margin: 0;
}

.paid-data img, .cancelled-data img, .refunded-data img{
  width: .5rem;
  height: .5rem;
}

.icon-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .2rem;
}

.orders-sidebar-header p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", serif;
}

.orders-sidebar-header {
  padding-inline: 1rem;
}

.summary-stats p {
  margin: 0;
}

.summary-stats {
  display: flex;
  flex-direction: row;
  padding-inline: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.summary-line {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .2rem;
}

.summary-title {
  color: rgb(143, 143, 143);
  font-size: 12px;
}