.rate {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background-color: white;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 12px;
  gap: 1rem;
  border: 2px solid rgb(226, 226, 226);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.rate-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rate-row-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.2rem;
}

.rate-header h2,
.rate-row-two p {
  margin-block: 0;
}
