.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--background);
  width: 10%;
  padding: 1rem;
  border-right: 2px solid rgb(226, 226, 226);

} 

.general,
.management,
.others {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  border-bottom: 2px solid rgb(226, 226, 226);
  padding-bottom: 1rem;
  gap: 0.1rem;
  flex-wrap: wrap;
}

.others {
  border-bottom: none;
}

.general p,
.management p,
.others p {
  color: rgb(169, 169, 170);
  font-size: 12px;
  padding-left: 0.3rem;
  margin: 0;
}

.general img,
.management img,
.others img {
  width: 16px;
  height: auto;
}

.activeButton, .dormantButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: none;
  border: 2px solid transparent;
  border-radius: 12px;
  color: var(--text);
  font-size: 14px;
  font-weight: 400;
  padding-block: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  transition: background .3s ease, border-color .3s ease;
}

.activeButton {
  border-color: var(--primary);
  color: var(--primary);
}

.general button:hover,
.management button:hover,
.others button:hover {
  cursor: pointer;
}
