
.billing-container {
  background-color: var(--background);
  color: var(--text);
  width: 100%;
}


.billing-content {
  padding-inline: 2rem;
  background-color: var(--background);
  color: var(--text);
}

.billing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background-color: var(--background);
  height: 3rem;
  border-bottom: 2px solid var(--border);
  padding-inline: 2rem;
}

.billing-header p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.change-plan-button {
  background-color: var(--primary);
  color: #fff;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.change-plan-button:hover {
  background-color: var(--secondary);
}

/* Billing Summary */
.billing-summary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.summary-card {
  padding: 1.5rem;
  border: 2px solid var(--border);
  border-radius: 8px;
  background-color: var(--background);
  box-shadow: 0 1px 3px var(--border);
}

.summary-card h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.amount {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--primary);
}

.change-card-link,
.calculate-link {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
}

.change-card-link:hover,
.calculate-link:hover {
  text-decoration: underline;
}

/* Payment History */
.billing-history {
  background-color: var(--background);
  padding-block: 1.5rem;
  border-radius: 8px;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.history-header h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.download-all-button {
  background-color: var(--background);
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 500;
  padding-block: 0.3rem;
  padding-inline: 0.5rem;
  border-radius: 8px;
  border: 2px solid var(--border);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: var(--text);
}

.download-all-button:hover {
  background-color: var(--background-odd);
}

/* Table */
.history-table {
  width: 100%;
  border-collapse: collapse;
}

.history-table th,
.history-table td {
  padding: 1rem;
  border-bottom: 1px solid var(--border);
  text-align: left;
}

.history-table th {
  color: #666;
  font-size: 0.9rem;
  font-weight: 600;
}

.status-paid {
  color: var(--primary);
  font-weight: bold;
}

.download-invoice-link {
  color: var(--secondary);
  text-decoration: none;
}

.download-invoice-link:hover {
  text-decoration: underline;
}
