.summary {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background-color: var(--background);
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 12px;
  gap: 1rem;
  border: 2px solid var(--border);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.summary-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  color: var(--text);
}

.summary-header h2,
.summary-row-two p {
  margin-block: 0;
}

.summary-header h2 {
  margin-right: auto;
}

.summary-data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.summary-chart {
  background-color: var(--secondary-accent);
  height: 100%;
  flex: 4 1;
}

.summary-chart-stats {
  height: 100%;
  flex: 3 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.summary-chart-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: .4rem;
  width: 100%;
}

.summary-chart-line-stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.summary-chart-line p {
  margin: 0;
  font-size: .8rem;
  color: #999999;
}